@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


body {
  font-family: 'Montserrat', sans-serif;
}

@theme{
    --color-pryClr: #1F3E17;
    --color-secClr: #F7F4EF;
    --color-accClr: #C39F60;
}

*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.made-container {
    @apply md:w-[95%] w-[90%] mx-auto md:px-0 backdrop-blur-md;
}

.no-scrollbar::-webkit-scrollbar{
    @apply hidden
}

.styled-scrollbar::-webkit-scrollbar{
    @apply w-1 h-1
}
.styled-scrollbar::-webkit-scrollbar-thumb{
    @apply bg-pryClr/40 rounded-full
}
/* Hide scrollbar but keep functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type="number"]::-webkit-inner-spin-button{
  @apply hidden
}